*{
    text-align: center;
}

header h1{
    text-align: center;
}

table{
    text-align: center;
    border-collapse: collapse;
}

th, td{
    border: 2px solid blue;
    border-color: blue;
    height: 40px;
    
}

caption{
    padding-top: 10px;
    caption-side: bottom;
}


